body{
    font-family: 'Poppins';
    font-size: 15px;
}


.container{
    margin: 100px;
    border : 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px grey;
}

.kop{
    margin: 0px 100px;
    display: flex;
    justify-content: stretch;
}

.text{
    margin-left: 50px;
    text-align: center;
    flex-basis: 1000px;
}

.header{
    text-align: center;
}

.subtitle {
    text-decoration: underline;
}

.form {
    padding: 20px 100px;
}

.signature{
    text-align: right;
}

#signText1{
    margin-right: 130px;
}

#signText2{
    margin-right: 100px;
}

